.boxForImage {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #000;
}

.margin {
    margin-left: 40px;
    margin-top: 5rem;
}

/* centro el boton */

.margin2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tamaño {
    width: 20rem;
}